body, html {
    height: 100%;
    background-color: #c3e5d3;
}

.container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    border-radius: 0.25rem;
}

.url-loader {
    margin-top: 2rem;
}
